name: Bump mathlib-nightly

on:
  workflow_dispatch:
  schedule:
  - cron: "0 6 * * *"

jobs:
  bump_mathlib:
    name: bump mathlib-nightly mathlib version
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: mathlib-nightly
      - name: Install elan
        run: |
          set -o pipefail
          curl https://raw.githubusercontent.com/leanprover/elan/master/elan-init.sh -sSf | sh -s -- --default-toolchain none -y
          ~/.elan/bin/lean --version
          echo "$HOME/.elan/bin" >> $GITHUB_PATH
      - name: lake update mathlib
        run: lake update mathlib
      - name: Check if changed & make commit
        id: make_commit
        run: |
          if $( git diff --quiet --exit-code lakefile.lean ); then
          else
            git config --local user.email "actions@github.com"
            git config --local user.name "GitHub Actions"
            git commit -am "chore(mathlib-nightly): bump mathlib"
            git push
            echo "committed=true" >> "$GITHUB_OUTPUT"
          fi
